/* Experimental UI - copyyzz edition*/
/* Some epic sub-text to be added. Made by elialol :)*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Roboto > Arial */
*{
    font-family: Roboto !important;
}

:root {
    --main-scale: 1;
  }

  
/* hide privacy settings stuff */
#cmpPersistentLink{
   display:None !important;
}


/* UI Scale */
#lower_left_container{
    transform: scale(var(--main-scale));
    left: -18px !important;
    /*left: -36px !important;*/
    background-image: url('https://h1lseduck.github.io/var/new-bg.png') !important;
}

#chat_wrapper{
transform: scale(var(--main-scale));
border-radius: 5px !important;
left: 20px !important;
}

#weapons_div{
    transform: scale(0.8);

}

#icons_container{
    left: 70px !important;
}


/* new img */
#healthDivCont{
    background-image: url("https://h1lseduck.github.io/var/newWhiteBg.png") !important;
    margin-bottom: 1;
    transform: scale(1.2,1.15);
    
}
#healthDiv{
    background-image: url("https://h1lseduck.github.io/var/newHealthBar.png") !important;
}
#manaDivCont{
    background-image: url("https://h1lseduck.github.io/var/newWhiteBg.png") !important;
    left: 56px !important;
    transform: scale(1.2,1.15);
}
#manaDiv{
    background-image: url("https://h1lseduck.github.io/var/newManaBar.png") !important;
}

/* new icons; yeah ik the selectors are weird but there are no IDs so.. */
.ab_icon_cont[data-ab-id="16"] img{
content:url(https://h1lseduck.github.io/var/icons/impulse-used.svg);
}
.ab_icon_cont[data-ab-id="16"] .active_ab_cd_div{
    background:url(https://h1lseduck.github.io/var/icons/impulse.svg) !important;
    background-size: 50px 50px !important;
}

.ab_icon_cont[data-ab-id="15"] img{
    content:url(https://h1lseduck.github.io/var/icons/trip-used.svg);
    }
.ab_icon_cont[data-ab-id="15"] .active_ab_cd_div{
        background:url(https://h1lseduck.github.io/var/icons/trip.svg) !important;
        background-size: 50px 50px !important;
    }
.ab_icon_cont[data-ab-id="14"] img{
    content:url(https://h1lseduck.github.io/var/icons/mine-used.svg);
    }
.ab_icon_cont[data-ab-id="14"] .active_ab_cd_div{
        background:url(https://h1lseduck.github.io/var/icons/mine.svg) !important;
        background-size: 50px 50px !important;
    }

.ab_icon_cont[data-ab-id="13"] img{
        content:url(https://h1lseduck.github.io/var/icons/sticky-used.svg);
        }
.ab_icon_cont[data-ab-id="13"] .active_ab_cd_div{
            background:url(https://h1lseduck.github.io/var/icons/sticky.svg) !important;
            background-size: 50px 50px !important;
        }

.ab_icon_cont[data-ab-id="10"] img{
            content:url(https://h1lseduck.github.io/var/icons/flashbang-used.svg);
            }
.ab_icon_cont[data-ab-id="10"] .active_ab_cd_div{
                background:url(https://h1lseduck.github.io/var/icons/flashbang.svg) !important;
                background-size: 50px 50px !important;
            }

.ab_icon_cont[data-ab-id="9"] img{
                content:url(https://h1lseduck.github.io/var/icons/smoke-used.svg);
                }
.ab_icon_cont[data-ab-id="9"] .active_ab_cd_div{
                    background:url(https://h1lseduck.github.io/var/icons/smoke.svg) !important;
                    background-size: 50px 50px !important;
                }

.ab_icon_cont[data-ab-id="0"] img{
                content:url(https://h1lseduck.github.io/var/icons/teleport-used.svg);
                }
.ab_icon_cont[data-ab-id="0"] .active_ab_cd_div{
                    background:url(https://h1lseduck.github.io/var/icons/teleport-notbright.svg) !important;
                    background-size: 50px 50px !important;
                }

                




/* some smaller stuff */
#map_name{
    font-weight: 700;
}
#map_load_spin{
    bottom: 6px !important;
}
#map_image_cont{
    border-radius: 20px !important;
}
